/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* color root */
:root{
    --color-1:#262829;
    --color-2:#fff;
    --color-3:#1f2122;
    --color-4:rgb(255,255,255,.5);
    --color-5:greenyellow;
    --color-6:#fb5976;

}
body{
    width: 100%;
    height: 100vh;
    background: var(--color-3);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header{
    width: 98%;
    height: 95%;
    box-shadow: 0 0 30px rgb(20,19,19);
    border-radius: 10px;
    display: flex;
}
header aside,article{
    width: 85%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: var(--color-3);
}
header aside {
    width: 18%;
    border-radius: 10px 0 0 10px;
    background: var(--color-6);
}
header aside h1 img{
    width: 120px;
    margin: 20px 0 20px 40px;
}
header aside button{
    display: block;
    padding: 8px 20px;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10px;
    background: rgb(30, 35, 55,0.5);
    color: #fff;
    margin-top: 5px;
    transition: .3s linear;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header aside button:hover{
    background: var(--color-1);

}
header aside button span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--color-1);
    border-radius: 50%;
    margin-right: 10px;
}
header aside button span i{
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    bottom: 3px;
}
header aside ul {
    position: relative;
    margin-top: 10px;
    list-style-type: none;
    margin-left: 12%;
    padding-bottom: 10px;
}
header aside ul::before {
    content: "";
    position: absolute;
    width: 88%;
    height: 2px;
    background: rgb(184,184,184,.1);
    bottom: 0;
}
header aside ul li{
    padding: 2.5px 0;

}
header aside ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255, .7);
    font-size: 12px;
    font-weight: 400;
    transition: .3s linear;
}
header aside ul li a:hover {
    color: #fff;
}
header aside ul li a i{
    margin-right: 15px;
    font-size: 1.1rem;
}

/* list item active */

header aside ul .active_li{
    border-right: 3px solid #fff;
}

header aside ul .active_li a{
    color: #fff;
    font-size: 13px;
}

/* subscriptions box */

header aside .subscriptions{
    width: 99%;
    height: auto;
    margin-top: 15px;
    margin-left: 12%;
}
header aside .subscriptions h5{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
header aside .subscriptions .cards{
    width: 88%;
    height: 200px;
    margin-top: 20px;
    overflow: auto;
}
header aside .subscriptions .cards::-webkit-scrollbar{
    width: 5px;
    background: rgb(184,184,184,.2);
    border-radius: 20px;

}
header aside .subscriptions .cards::-webkit-scrollbar-thumb{
    background: rgb(184,184,184,.7);
    border-radius: 20px;

}
header aside .subscriptions .cards a{
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 57px;
}

header aside .subscriptions .cards .card{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
header aside .subscriptions .cards .card .img_profile{
    width: 30px;
    height: 30px;
    position: relative;
}
header aside .subscriptions .cards .card .img_profile::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background:greenyellow;
    border-radius: 50%;
    border: 3px solid var(--color-6);
    top: 11px;
    right: -5px;
}
header aside .subscriptions .cards .card .img_profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
header aside .subscriptions .cards .card .content{
    margin-left: 6px;
}
header aside .subscriptions .cards .card .content h6{
    width: 100px;
    color: #fff;
    font-size: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
header aside .subscriptions .cards .card .content p {
    font-size: 10px;
}

header article nav{
    width: 100%;
    height: 11%;
    border-radius: 0 10px 0 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-3);
}
header article nav .search{
    width: 40%;
    background: var(--color-1);
    padding: 4px 10px;
    transition: .5s linear;
}
header article nav .search input{
    width: 94%;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px ;
    color: var(--color-2);
    transition: .5s linear;
}
header article nav .search input::placeholder{
    color: var(--color-4);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transition: .5s linear;
}
header article nav .search i{
    color: var(--color-4);
    font: 13px;
    display: inline-block;
    margin-bottom: 5px;
    transition: .5s linear;
}
header article nav .right_bx{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header article nav .right_bx a{
    text-decoration: none;
}
header article nav .right_bx p{
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header article nav .right_bx p img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid var(--color-6);
}

header article nav .right_bx .logout{
    color: var(--color-4);
    font-size: 20px;
    display: inline-block;
    margin-bottom: 8px;
}

header article .streams{
    position: relative;
    width: 100%;
    height: 200px;
    padding: 0 30px;
    margin-top: 20px;
}
header article .streams h3{
    color: var(--color-2);
    font-size: 14px;
    font-weight: 600;
    transition: .5s linear;
}
header article .streams .live_bx {
    width: 100%;
    height: 175px;
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}
header article .streams .live_bx::-webkit-scrollbar{
    height: 10px;
    background: rgb(184,184,184,.2);
    border-radius: 20px;
}
header article .streams .live_bx::-webkit-scrollbar-thumb{
    background: rgb(184,184,184,.7);
    border-radius: 20px;
}
header article .streams .live_bx .card{
    min-width: 230px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}
header article .streams .live_bx .card:nth-last-child(1) {
    margin-right: 0px;
}
header article .streams .live_bx .card img{
    width: 100%;
    height: 75%;
    border-radius: 5px;
}
header article .streams .live_bx .card::after{
    position: absolute;
    content: "Live";
    width: 50px;
    height: 20px;
    color: #fff;
    background-color: var(--color-6);
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
header article .streams .live_bx .card .whoIsStreaming{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    position: relative;
}
header article .streams .live_bx .card .whoIsStreaming .img_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
header article .streams .live_bx .card .whoIsStreaming img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
header article .streams .live_bx .card .whoIsStreaming .img_profile::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: greenyellow;
    border-radius: 50%;
    border: 3px solid var(--color-3);
    top: 11px;
    left: 23px;
}
header article .streams .live_bx .card .whoIsStreaming .content h6{
    width: 100px;
    color: #fff;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;

}
header article .streams .live_bx .card .whoIsStreaming .content p{
    font-size: 10px;
    margin-left: 5px;
    color: var(--color-2);
}
header article .streams .live_bx .card .whoIsStreaming .content p span{
    margin-left: 50px;
}
header article section{
    width: 100%;
    height: 52.8%;
    padding: 0 30px;
}
header article section h3{
    color: var(--color-2);
    font-size: 14px;
    font-weight: 600;
}
header article section .channels_bx{
    width: 100%;
    height: 85%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

}
header article section .channels_bx::-webkit-scrollbar{
    width: 10px;
    background: rgb(184,184,184,.2);
    border-radius: 20px;
}
header article section .channels_bx::-webkit-scrollbar-thumb{
    background: rgb(184,184,184,.7);
    border-radius: 20px;
}
header article section .channels_bx .card{
    width: 120px;
    height: 160px;
    margin-right: 16px;
}
header article section .channels_bx .card:nth-last-child(1){
    margin-right: 0px;
}
header article section .channels_bx .card img{
    width: 100%;
    height: 70%;
}
header article section .channels_bx .card .channel .content h6{
    width: 100px;
    color: #fff;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}
header article section .channels_bx .card .channel .content p{
    font-size: 10px;
    margin-left: 5px;
    color: var(--color-2);
}